<html>
<head>
<title>activity_nova_consulta.xml</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.s0 { color: #d5b778;}
.s1 { color: #bcbec4;}
.s2 { color: #6aab73;}
.s3 { color: #bcbec4;}
.s4 { color: #7a7e85;}
</style>
</head>
<body bgcolor="#191a1c">
<table CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<tr><td><center>
<font face="Arial, Helvetica" color="#000000">
activity_nova_consulta.xml</font>
</center></td></tr></table>
<pre><span class="s0">&lt;?</span><span class="s1">xml version</span><span class="s2">=&quot;1.0&quot; </span><span class="s1">encoding</span><span class="s2">=&quot;utf-8&quot;</span><span class="s0">?&gt;</span>

<span class="s0">&lt;androidx.constraintlayout.widget.ConstraintLayout</span>
    <span class="s1">xmlns:android</span><span class="s2">=&quot;http://schemas.android.com/apk/res/android&quot;</span>
    <span class="s1">xmlns:app</span><span class="s2">=&quot;http://schemas.android.com/apk/res-auto&quot;</span>
    <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:layout_height</span><span class="s2">=&quot;match_parent&quot;</span>
    <span class="s1">android:background</span><span class="s2">=&quot;#F5F7FA&quot;</span><span class="s0">&gt;</span>

    <span class="s4">&lt;!-- Cabeçalho --&gt;</span>

    <span class="s0">&lt;androidx.constraintlayout.widget.ConstraintLayout</span>
        <span class="s1">android:id</span><span class="s2">=&quot;@+id/header&quot;</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;0dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;130dp&quot;</span>
        <span class="s1">android:background</span><span class="s2">=&quot;#1976D2&quot;</span>
        <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span><span class="s0">&gt;</span>

        <span class="s0">&lt;TextView</span>
            <span class="s1">android:id</span><span class="s2">=&quot;@+id/txtTitulo&quot;</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:text</span><span class="s2">=&quot;Nova consulta&quot;</span>
            <span class="s1">android:textColor</span><span class="s2">=&quot;#FFFFFF&quot;</span>
            <span class="s1">android:textSize</span><span class="s2">=&quot;26sp&quot;</span>
            <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot;</span>
            <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
            <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span>
            <span class="s1">app:layout_constraintTop_toTopOf</span><span class="s2">=&quot;parent&quot;</span>
            <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s2">=&quot;parent&quot; </span><span class="s0">/&gt;</span>

    <span class="s0">&lt;/androidx.constraintlayout.widget.ConstraintLayout&gt;</span>


    <span class="s4">&lt;!-- Área do formulário --&gt;</span>

    <span class="s0">&lt;ScrollView</span>
        <span class="s1">android:layout_width</span><span class="s2">=&quot;0dp&quot;</span>
        <span class="s1">android:layout_height</span><span class="s2">=&quot;0dp&quot;</span>
        <span class="s1">android:padding</span><span class="s2">=&quot;24dp&quot;</span>
        <span class="s1">app:layout_constraintTop_toBottomOf</span><span class="s2">=&quot;@id/header&quot;</span>
        <span class="s1">app:layout_constraintBottom_toBottomOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintStart_toStartOf</span><span class="s2">=&quot;parent&quot;</span>
        <span class="s1">app:layout_constraintEnd_toEndOf</span><span class="s2">=&quot;parent&quot;</span><span class="s0">&gt;</span>

        <span class="s0">&lt;LinearLayout</span>
            <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
            <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
            <span class="s1">android:orientation</span><span class="s2">=&quot;vertical&quot;</span><span class="s0">&gt;</span>

            <span class="s0">&lt;TextView</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:text</span><span class="s2">=&quot;Agendar uma consulta&quot;</span>
                <span class="s1">android:textColor</span><span class="s2">=&quot;#1F2937&quot;</span>
                <span class="s1">android:textSize</span><span class="s2">=&quot;22sp&quot;</span>
                <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot; </span><span class="s0">/&gt;</span>

            <span class="s0">&lt;TextView</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;6dp&quot;</span>
                <span class="s1">android:text</span><span class="s2">=&quot;Preencha os dados abaixo&quot;</span>
                <span class="s1">android:textColor</span><span class="s2">=&quot;#6B7280&quot;</span>
                <span class="s1">android:textSize</span><span class="s2">=&quot;15sp&quot; </span><span class="s0">/&gt;</span>


            <span class="s4">&lt;!-- Paciente --&gt;</span>

            <span class="s0">&lt;TextView</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;28dp&quot;</span>
                <span class="s1">android:text</span><span class="s2">=&quot;Nome do paciente&quot;</span>
                <span class="s1">android:textColor</span><span class="s2">=&quot;#374151&quot;</span>
                <span class="s1">android:textSize</span><span class="s2">=&quot;14sp&quot;</span>
                <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot; </span><span class="s0">/&gt;</span>

            <span class="s0">&lt;EditText</span>
                <span class="s1">android:id</span><span class="s2">=&quot;@+id/edtPaciente&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;55dp&quot;</span>
                <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;8dp&quot;</span>
                <span class="s1">android:background</span><span class="s2">=&quot;#FFFFFF&quot;</span>
                <span class="s1">android:hint</span><span class="s2">=&quot;Digite o nome&quot;</span>
                <span class="s1">android:paddingStart</span><span class="s2">=&quot;16dp&quot;</span>
                <span class="s1">android:paddingEnd</span><span class="s2">=&quot;16dp&quot;</span>
                <span class="s1">android:textSize</span><span class="s2">=&quot;16sp&quot; </span><span class="s0">/&gt;</span>


            <span class="s4">&lt;!-- Data --&gt;</span>

            <span class="s0">&lt;TextView</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;20dp&quot;</span>
                <span class="s1">android:text</span><span class="s2">=&quot;Data da consulta&quot;</span>
                <span class="s1">android:textColor</span><span class="s2">=&quot;#374151&quot;</span>
                <span class="s1">android:textSize</span><span class="s2">=&quot;14sp&quot;</span>
                <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot; </span><span class="s0">/&gt;</span>

            <span class="s0">&lt;Button</span>
                <span class="s1">android:id</span><span class="s2">=&quot;@+id/btnEscolherData&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;55dp&quot;</span>
                <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;8dp&quot;</span>
                <span class="s1">android:text</span><span class="s2">=&quot;Escolher data&quot;</span>
                <span class="s1">android:textAllCaps</span><span class="s2">=&quot;false&quot; </span><span class="s0">/&gt;</span>


            <span class="s4">&lt;!-- Horário --&gt;</span>

            <span class="s0">&lt;TextView</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;20dp&quot;</span>
                <span class="s1">android:text</span><span class="s2">=&quot;Horário da consulta&quot;</span>
                <span class="s1">android:textColor</span><span class="s2">=&quot;#374151&quot;</span>
                <span class="s1">android:textSize</span><span class="s2">=&quot;14sp&quot;</span>
                <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot; </span><span class="s0">/&gt;</span>

            <span class="s0">&lt;Button</span>
                <span class="s1">android:id</span><span class="s2">=&quot;@+id/btnEscolherHora&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;55dp&quot;</span>
                <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;8dp&quot;</span>
                <span class="s1">android:text</span><span class="s2">=&quot;Escolher horário&quot;</span>
                <span class="s1">android:textAllCaps</span><span class="s2">=&quot;false&quot; </span><span class="s0">/&gt;</span>


            <span class="s4">&lt;!-- Observação --&gt;</span>

            <span class="s0">&lt;TextView</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;wrap_content&quot;</span>
                <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;20dp&quot;</span>
                <span class="s1">android:text</span><span class="s2">=&quot;Observação&quot;</span>
                <span class="s1">android:textColor</span><span class="s2">=&quot;#374151&quot;</span>
                <span class="s1">android:textSize</span><span class="s2">=&quot;14sp&quot;</span>
                <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot; </span><span class="s0">/&gt;</span>

            <span class="s0">&lt;EditText</span>
                <span class="s1">android:id</span><span class="s2">=&quot;@+id/edtObservacao&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;100dp&quot;</span>
                <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;8dp&quot;</span>
                <span class="s1">android:background</span><span class="s2">=&quot;#FFFFFF&quot;</span>
                <span class="s1">android:gravity</span><span class="s2">=&quot;top&quot;</span>
                <span class="s1">android:hint</span><span class="s2">=&quot;Digite uma observação (opcional)&quot;</span>
                <span class="s1">android:padding</span><span class="s2">=&quot;16dp&quot;</span>
                <span class="s1">android:textSize</span><span class="s2">=&quot;16sp&quot; </span><span class="s0">/&gt;</span>


            <span class="s4">&lt;!-- Salvar --&gt;</span>

            <span class="s0">&lt;Button</span>
                <span class="s1">android:id</span><span class="s2">=&quot;@+id/btnSalvar&quot;</span>
                <span class="s1">android:layout_width</span><span class="s2">=&quot;match_parent&quot;</span>
                <span class="s1">android:layout_height</span><span class="s2">=&quot;58dp&quot;</span>
                <span class="s1">android:layout_marginTop</span><span class="s2">=&quot;28dp&quot;</span>
                <span class="s1">android:layout_marginBottom</span><span class="s2">=&quot;24dp&quot;</span>
                <span class="s1">android:backgroundTint</span><span class="s2">=&quot;#1976D2&quot;</span>
                <span class="s1">android:text</span><span class="s2">=&quot;Agendar consulta&quot;</span>
                <span class="s1">android:textAllCaps</span><span class="s2">=&quot;false&quot;</span>
                <span class="s1">android:textColor</span><span class="s2">=&quot;#FFFFFF&quot;</span>
                <span class="s1">android:textSize</span><span class="s2">=&quot;16sp&quot;</span>
                <span class="s1">android:textStyle</span><span class="s2">=&quot;bold&quot; </span><span class="s0">/&gt;</span>

        <span class="s0">&lt;/LinearLayout&gt;</span>

    <span class="s0">&lt;/ScrollView&gt;</span>

<span class="s0">&lt;/androidx.constraintlayout.widget.ConstraintLayout&gt;</span></pre>
</body>
</html>